# Игнорироание файлов в каталоге tmp
tmp/
# Игнорирование всех файлов с расширением _old, _backup
*.*_old
*.*_backup
# Игнорирование файлов Thumbs.db
Thumbs.db
# Игнорирование файлов .DS_Store
*.DS_Store